services:
  paradedb:
    image: paradedb/paradedb:latest
    container_name: paradedb
    environment:
      POSTGRES_USER: paradedb
      POSTGRES_PASSWORD: paradedb
      POSTGRES_DB: paradedb
    ports:
      - "15432:5432"
    volumes:
      - paradedb_data:/var/lib/postgresql/

volumes:
  paradedb_data:
